h2 {
    width: 100%;
    text-align: center;
    line-height: 0.1em;
    margin: 10px 0 20px;
    white-space: nowrap;
    font-family: Montserrat-SemiBold;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: rgba(110, 174, 67, 1);
    padding-bottom: 50px;
}

h2 span {
    padding: 0 10px;
}

.team{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.team-card{
    padding: 20px;
    border-radius: 10px;;
    margin:20px;
    width: 361px;
    height: 697px;
    background-color: rgba(33, 33, 33, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.team-image{
    border-radius: 50%;
    height: 300px;
    margin-bottom: 10px;
}

.person-name{
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat-Medium;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(255, 255, 255, 1);
}

.person-desc, .person-desc-quote{
    padding-top: 20px;
    white-space: wrap;
    text-align: center;
    font-family: Montserrat-Light;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
}