.header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 158px;
    padding-left: 30px;
    padding-right: 30px;
}

.header img{
    margin-right: auto;
    width: 33%;
    max-width: 305px;
    min-width: 100px;
}

.header {
    padding-bottom: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.161);
}

button{
    font-family: Montserrat-SemiBold;
    font-style: normal;
    font-weight: normal;
    font-size: 22.91707992553711px;
    color: rgba(255, 255, 255, 1);
}