.padding{
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.ant-layout > div {
    background-color: rgb(26, 26, 26);
}

#ss-custom-reviews-widget-root{
    margin-bottom: 40px;
}

.ant-layout {
    overflow: hidden !important;
}