.padding{
    padding-left: 20px;
    padding-right: 20px;
}

.ant-layout > div {
    background-color: rgb(26, 26, 26);
}

#ss-custom-reviews-widget-root{
    margin-bottom: 40px;
}

.ant-layout {
    overflow: hidden !important;
    background: rgb(26, 26, 26) !important;
}

.reviews{
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 20px;
}

.review-text {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    text-align: center;
    font-family: Montserrat-Medium;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: rgba(255, 255, 255, 1);
}

@media (max-width: 1000px) {
    .review-text {
        font-size: 22px;
    }
}