body {
  margin: 0;
  font-family: Montserrat,
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(26, 26, 26, 1);
}

.gradient-background{
    background-image: url("./Gradient.png");
    background-size: cover;
}

.charts-background{
    background-image: url("./Candle_k.png");
    height: 500px;
    background-size: cover;
    width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  background-color: rgba(110, 174, 67, 1);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

button:hover {
  box-shadow: white;
  background-color: #179848;
  cursor: pointer;
}

button:active {
  box-shadow: white;
  background-color: #0c6c33;
}
