.footer {
    padding-top: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.full-width{
    width: 100%;
}

.footer-image{
    width: 159px;
    height: 78px;
    padding-left: 10%;
}

.footer-text{
    padding-left: 10%;
    margin-top: 10px;
    margin-bottom: 20px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat-SemiBold;
    font-style: normal;
    font-weight: normal;
    font-size: 22.91707992553711px;
    color: rgba(255, 255, 255, 1);
}

.footer-hr{
    width: 100%;
}