.footer {
    margin-top: 40px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-top: 2px solid rgba(255, 255, 255, 0.161);
    padding-bottom: 20px;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}


.full-width{
    width: 100%;
}

.footer-image{
    width: 159px;
    height: 78px;
    padding-left: 10px;
}

.footer-text{
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat-SemiBold;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
}

.footer-hr{
    width: 100%;
}